#reportList
  overflow: scroll
  height: 55vh
  width: 80vw
  border: 1px black
  background-color: lightgrey
  padding-left: 1em

#reportFilter select
  margin-left: 1em

.entryhead button
  border: none
  background-color: transparent
  
.trackName
  background-color: transparent
  border: none
  width: 5ch

.trackName:hover
 border: 2px solid black  
 width: auto

.trackName::placeholder
  color: black    



.trackReport
  background-color: transparent
  border: none
  width: 2ch  

.trackReport::placeholder
  color: black  

.trackReport:hover
  border: 1px solid black    

.trackSelect
  border: none
  background-color: transparent
  width: 6ch  

.trackSelect:hover
  width: auto    

.trackDate  
  border: none
  background-color: transparent
  display: none

.datetimeWrapper:hover .trackDate
  display: inline

.datetimeWrapper:hover .shortdate
  display: none

@media only screen and (max-width: 640px) 
  .deleteButton    
    display: none
  .entryNumber
    display: none
