#reportList
  overflow: scroll
  height: 55vh
  width: 80vw
  border: 1px black
  background-color: lightgrey
  padding-left: 1em

#reportFilter select
  margin-left: 1em

.entryhead button
  border: none
  background-color: transparent
  
    
    