
<div id="report">
   <p>Date <input type="datetime-local" (change)="setDatetimeFilter($event.target.value)"></p>
   <div id="reportList">
      <table> 
      <tr *ngFor="let entry of reportlist;" >
            
        <td>{{entry[0]}}</td>    
        <td>{{entry[1]}}</td>    
        <td>{{entry[2]}}</td>    
        <td>{{entry[3]}}</td>    
        <td>{{entry[4]}}</td>    
        <td>{{entry[5]}}</td>    
        <td class="entryhead"><button (click)="deleteTimeRecord(entry[0])"><mat-icon>delete_forever</mat-icon></button>
            <button><mat-icon>more_vert</mat-icon></button>
        </td>
    </tr>    
    </table>    
   </div>
   <div id="reportFilter">
      <p>
          <select (change)="setCategoryFilter($event.target.value)">
              <option value=999>category</option>
              <option *ngFor="let category of database.category;let i = index;" [value]="i">
               {{category}}   
              </option>
              
          </select>
          <select (change)="setUserFilter($event.target.value)" >
              <option value=999>user</option>
              <option *ngFor="let user of database.user;let i = index;" [value]="i">
                    {{user}}   
              </option>
          </select>
        </p>
        <p>  
          <select (change)="setTopicFilter($event.target.value)">
              <option value=999>topic</option>
              <option *ngFor="let topic of database.topic;let i = index;" [value]="i">
                    {{topic}}   
              </option>
          </select>
          <select (change)="setLocationFilter($event.target.value)">
              <option value=999>location</option>
              <option *ngFor="let location of database.location;let i = index;" [value]="i">
                    {{location}}   
              </option>
          </select>
      </p>
      
   </div>  
</div>
<!-- p [innerHTML]="test "> </p -->
