
<div id="report">
   <p>Date <input type="datetime-local" (change)="setDatetimeFilter($event.target.value)"></p>
   <div id="reportList">
      <table> 
      <ng-container *ngFor="let entry of reportlist;let i=index" >    
      <tr *ngIf="isDeleted(i)" >
            
        <td>{{entry[0]}}</td>    
        <!--td><input type="text" class="trackName" placeholder="{{entry[1]}}"></td-->    
        <td><select class="trackSelect" (change)="onUserChange(i,$event.target.value)" >
                <option value="getIndexFromArray(this.database.user,entry[1])">{{entry[1]}}</option>
                <option *ngFor="let user of this.database.user; let j=index" value="{{j}}">{{user}}</option>
              </select>
        </td>
        <td><select class="trackSelect" (change)="onCategoryChange(i,$event.target.value)">
              <option value="getIndexFromArray(this.database.category,entry[2])">{{entry[2]}}</option>
              <option *ngFor="let cat of this.database.category;let j=index" value="{{j}}">{{cat}}</option>
            </select>
        </td>
        <td><select class="trackSelect" (change)="onLocationChange(i,$event.target.value)">
               <option value="getIndexFromArray(this.database.location,entry[3])">{{entry[3]}}</option>
               <option *ngFor="let lock of this.database.location;let j=index" value="{{j}}">{{lock}}</option>
            </select>
        </td>
        <td><select class="trackSelect" (change)="onTopicChange(i,$event.target.value)">
               <option value="getIndexFromArray(this.database.topic,entry[4])">{{entry[4]}}</option>
               <option *ngFor="let top of this.database.topic;let j=index" value="{{j}}">{{top}}</option>
            </select>
        </td>  
        <td><input type="text" class="trackReport" placeholder="{{entry[5]}}" (change)="onReportChange(i,$event.target.value)"></td>    
        <!-- value="2017-06-13T13:00" 1970-01-01T00:33:50.111Z -->
        <td><input type="datetime-local" class="trackName" value="{{entry[6]}}" (change)="onStartDateChange(i,$event.target.value)"></td>
        <td><input type="datetime-local" class="trackName" value="{{entry[7]}}" (change)="onEndDateChange(i,$event.target.value)"></td>
        <td class="entryhead"><button (click)="deleteTimeRecord(entry[0])"><mat-icon>delete_forever</mat-icon></button>
            <button><mat-icon>more_vert</mat-icon></button>
        </td>
    </tr>    
    </ng-container>
    </table>    
   </div>
   <div id="reportFilter">
      <p>
          <select (change)="setCategoryFilter($event.target.value)">
              <option value=999>category</option>
              <option *ngFor="let category of database.category;let i = index;" [value]="i">
               {{category}}   
              </option>
              
          </select>
          <select (change)="setUserFilter($event.target.value)" >
              <option value=999>user</option>
              <option *ngFor="let user of database.user;let i = index;" [value]="i">
                    {{user}}   
              </option>
          </select>
        </p>
        <p>  
          <select (change)="setTopicFilter($event.target.value)">
              <option value=999>topic</option>
              <option *ngFor="let topic of database.topic;let i = index;" [value]="i">
                    {{topic}}   
              </option>
          </select>
          <select (change)="setLocationFilter($event.target.value)">
              <option value=999>location</option>
              <option *ngFor="let location of database.location;let i = index;" [value]="i">
                    {{location}}   
              </option>
          </select>
      </p>
      
   </div>  
</div>
<!-- p [innerHTML]="test "> </p -->
