
<!--p>database {{databaseDump}}</p-->
<!--p>database {{database.database.topic[0]}}</p-->

<form id="timetracking" action="/process" method="GET">
   <select name='topic'>
     <option *ngFor="let topic of database.database.topic;let i = index;" [value]="i" >
       {{topic}} 
     </option>  
   </select>
   <input value="{{location}}" name="location" required>   
   <select name='category'>
      <option *ngFor="let category of database.database.category;let i = index;" [value]="i" >
          {{category}} 
        </option>  
   </select>
   <p>
      Start <input type="datetime" name="start" required>
      End <input type="datetime" name="end" required>
   </p>
   <!-- color="basic" , primary, accent , ...-->
   <button mat-raised-button color="basic">add report</button>
   <button mat-raised-button type="submit" color="primary">submit</button>
</form>  
