

<mat-toolbar color="primary">
  <div mat-icon-button id="logocafe">
    <mat-icon>local_cafe</mat-icon>  
  </div> 
  <span class="fillSpace"></span>
  <button id="burgermenu" mat-icon-button [matMenuTriggerFor]="menu" >
    <mat-icon>menu</mat-icon>  
 </button>
 <mat-menu #menu id="matSubmenu" >

  <button mat-menu-item routerLink="/report" class="menu-item">
     <mat-icon>dashboard</mat-icon>
     <span id="reportLink">report</span>
  </button>   
  <button mat-menu-item routerLink="/timetracking"  class="menu-item">
    <mat-icon>book</mat-icon>
    <span>ticket</span>
  </button>   
  <button mat-menu-item routerLink="/logout"  class="menu-item">
    <mat-icon>exit_to_app</mat-icon>
    <span>logOut</span>
  </button>   
  <button mat-menu-item routerLink="/login"  class="menu-item">
    <mat-icon>account_box</mat-icon>
    <span>logIn</span>
   </button>   

</mat-menu>   
</mat-toolbar>
<div id="test "style="display: none">
  <span class="menu-item"></span>
  <span class="menu-item"></span>
  <span class="menu-item"></span>
  <span class="menu-item"></span>
</div>
